@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300&display=swap');
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
body {
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', 'Spoqa Han Sans Neo', 'sans-serif';
    /*background-color: #C2CAAA;*/
}

@media screen and (min-width: 1025px) {
    #container {
        margin-left: 2em;
        margin-right: 5em;
        margin-top: 0.5em;
    }
    .header {
        margin-right: 1em;
        writing-mode: vertical-rl;
        text-orientation: sideways;
        font-weight: 300;
        font-size: 1em;
        position: fixed;
        z-index: 1;
    }
    .logo {}
    .menu-text {}
    .menu-button {}
    .product {
        position: relative;
        color: #333;
        font-weight: 200;
        font-size: 4em;
        line-height: 1.5em;
        word-spacing: -0.34em;
        letter-spacing: -0.02em;
        z-index: 2;
    }
    .productlink {
        font-weight: 300;
    }
}

@media (max-width: 1025px) and (min-width:769px) {
    #container {
        margin-left: 2em;
        margin-right: 5em;
        margin-top: 0.5em;
    }
    .header {
        margin-right: 1em;
        writing-mode: vertical-rl;
        text-orientation: sideways;
        font-weight: 300;
        font-size: 1em;
        position: fixed;
        z-index: 1;
    }
    .logo {}
    .menu-text {}
    .menu-button {}
    .product {
        position: relative;
        color: #333;
        font-weight: 200;
        font-size: 3em;
        line-height: 1.5em;
        word-spacing: -0.34em;
        letter-spacing: -0.02em;
        z-index: 2;
    }
    .productlink {
        font-weight: 300;
    }
}

@media (max-width: 768px) {
    #container {
        margin-left: 2em;
        margin-right: 5em;
        margin-top: 0.5em;
    }
    .header {
        margin-right: 1em;
        writing-mode: vertical-rl;
        text-orientation: sideways;
        font-weight: 300;
        font-size: 1em;
        position: fixed;
        z-index: 1;
    }
    .logo {}
    .menu-text {}
    .menu-button {}
    .product {
        position: relative;
        color: #333;
        font-weight: 300;
        font-size: 1.3em;
        line-height: 1.5em;
        word-spacing: -0.34em;
        letter-spacing: -0.02em;
        z-index: 2;
    }
    .productlink {
        font-weight: 300;
    }
}

a:visited {
    text-decoration: none;
    color: #22B573;
}

a:link {
    text-decoration: none;
    color: #22B573;
}

a:hover {
    text-decoration: none;
    color: #FFF;
    transition: all ease 0.3s;
    cursor: crosshair;
    background-color: #22B573;
}

a:active {
    text-decoration: none;
    color: #FFF;
    background-color: #22B573;
}

 ::-moz-selection {
    color: #fff;
    background-color: #22B573;
}

 ::selection {
    color: #fff;
    background-color: #22B573;
}

 ::-webkit-selection {
    color: #fff;
    background-color: #22B573;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    margin-right: 2em;
    /*  margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    border: 1px solid #FFF; 
    border-radius: 50% */
}