        @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
        body {
            vertical-align: baseline;
            margin: 0;
            padding: 0;
            font-family: 'Spoqa Han Sans Neo', Helvetica, 'sans-serif';
            background-color: #C2CAAA;
        }
        
        @media screen and (min-width:769px) {
            #container {
                margin-left: 5em;
                margin-right: 5em;
            }
            .header {
                margin-right: 1em;
                margin-top: 15vh;
                font-weight: 300;
                z-index: 1;
                color: #666;
            }
            .logo {
                margin-top: 1em;
            }
            .logo img {
                width: 40px;
            }
            .product {
                position: relative;
                color: #444;
                margin-top: 20vh;
                font-weight: 200;
                z-index: 2;
            }
            h1 {
                font-size: 2em;
                font-weight: 200;
                letter-spacing: -0.05em;
            }
            h2 {
                font-size: 1.1em;
                font-weight: 300;
                line-height: 1.7em;
                min-width: 33vw;
                max-width: 680px;
            }
            .productlink {
                font-weight: 300;
            }
        }
        
        @media (max-width: 768px) {
            #container {
                margin-left: 5em;
                margin-right: 5em;
            }
            .header {
                margin-right: 1em;
                margin-top: 10vh;
                font-weight: 300;
                z-index: 1;
                color: #666;
            }
            .logo {
                margin-top: 1em;
            }
            .logo img {
                width: 40px;
            }
            .product {
                position: relative;
                color: #555;
                margin-top: 10vh;
                font-weight: 200;
                z-index: 2;
            }
            h1 {
                font-size: 3em;
                font-weight: 300;
                letter-spacing: -0.05em;
            }
            h2 {
                font-size: 2em;
                font-weight: 300;
                line-height: 1.5em;
            }
            .productlink {
                font-weight: 300;
            }
        }
        
        #container a:visited {
            text-decoration: none;
            color: #E2E7D8;
            font-weight: inherit;
        }
        
        #container a:link {
            text-decoration: none;
            color: #E2E7D8;
            font-weight: inherit;
        }
        
        #main a:hover {
            text-decoration: none;
            color: #C2CAAA;
            background-color: #E2E7D8;
            transition: all ease 0.3s;
            font-weight: inherit;
        }
        
        #main a:active {
            text-decoration: none;
            color: #C2CAAA;
            background-color: #E2E7D8;
            font-weight: inherit;
        }
        
         ::-moz-selection {
            color: #C2CAAA;
            background-color: #FFF;
        }
        
         ::selection {
            color: #C2CAAA;
            background-color: #FFF;
        }
        
         ::-webkit-selection {
            color: #C2CAAA;
            background-color: #FFF;
        }
        
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        
        li {
            display: inline;
            /*  margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    border: 1px solid #FFF; 
    border-radius: 50% */
        }