    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=Noto+Sans+KR:wght@400;500&display=swap');
    body {
        margin: 0;
        padding: 0;
        margin: 0;
        font-family: 'IBM Plex Mono', -apple-system, 'Noto Sans KR', 'sans-serif';
        font-kerning: normal;
        font-weight: 400;
        font-size: 1em;
        line-height: 1.5em;
        word-spacing: -0.34em;
        color: #333333;
        text-align: left;
        background-color: #FFFFFF;
    }
    
    .hoi {
        height: 2em;
        background-color: #22B573;
        color: #FFFFFF;
        border-bottom: 3em solid #22B573;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        text-align: center;
    }
    
    .logo {
        text-align: center;
        padding: 1em;
        border-bottom: 1px solid #22B573;
    }
    
    .logo img {
        width: 5em;
    }
    
    ul {
        list-style-type: none;
        padding-top: 1.75em;
        padding-left: 0;
        margin: 0;
    }
    
    li {
        display: inline;
        margin-left: 1em;
        margin-right: 1em;
        padding: 1em;
        border: 1px solid #FFFFFF;
        border-radius: 50%
    }
    
    @media screen and (min-width: 768px) {
        .content {
            display: grid;
            grid-auto-rows: minmax(1em, auto);
            grid-auto-columns: 2fr 3fr;
        }
        .item:nth-child(2n-1) {
            grid-column: 1;
            padding-top: 0.5em;
            padding-right: 1em;
            padding-bottom: 1em;
            border-bottom: 1px solid #22B573;
        }
        .item:nth-child(2n) {
            padding-top: 0.5em;
            grid-column: 2;
            padding-bottom: 1em;
            border-bottom: 1px solid #22B573;
        }
    }
    
    @media (max-width: 767px) and (min-width: 0) {
        .content {
            display: grid;
            grid-auto-rows: minmax(1em, auto);
            grid-template-columns: 1fr;
        }
        .item:nth-child(2n-1) {
            padding-top: 0.5em;
            padding-bottom: 1em;
            grid-column: 1;
        }
        .item:nth-child(2n) {
            padding-top: 0.5em;
            padding-bottom: 1em;
            grid-column: 1;
            border-bottom: 1px solid #22B573;
        }
    }
    
    p {
        margin-top: 0;
        margin-left: 1em;
        margin-right: 1em;
    }
    
    .item img {
        max-height: 100%;
        max-width: 100%;
    }
    
    a:visited {
        text-decoration: none;
        color: #22B573;
    }
    
    a:link {
        text-decoration: none;
        color: #22B573;
    }
    
    a:hover {
        text-decoration: none;
        color: #FFF;
        background: #22B573;
        transition: all ease 0.3s;
    }
    
    a:active {
        text-decoration: none;
        color: #FFF;
        background: #22B573;
        cursor: url("images/cursor.svg"), auto;
    }
    
     ::-moz-selection {
        color: #fff;
        background-color: #22B573;
    }
    
     ::selection {
        color: #fff;
        background-color: #22B573;
    }
    
     ::-webkit-selection {
        color: #fff;
        background-color: #22B573;
    }