*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: -apple-system, sans-serif;
}

.content {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 3fr 1fr;
}
.order, .name, .form, .description, .reldate, .code:nth-child(n) {
  display:grid;
  font-size:1em;
  line-height:1.65em;
  word-break:keep-all;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding:1em;
}