@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=Noto+Sans+KR:wght@400;500&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: IBM Plex Mono, -apple-system, sans-serif;
    font-weight: 400;
    word-spacing: -0.3em;
    line-height: 1.65rem;
    word-break: keep-all;
}

#contentTitle,
#content {
    width: 100%;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
}

#contentTitle {
    position: fixed;
    overflow: hidden;
    background-color: white;
}

#content {
    padding-top: 60px;
}

.navbar {
    position: fixed;
    background-color: white;
    width: 20vw;
    height: 5vh;
    left: 80%;
    top: 95%;
    padding: 1em;
    text-align: center;
    vertical-align: center;
}

.navbar a {
    display: block;
}

.nav:nth-child(n) {
    min-height: 60px;
    display: grid;
    padding: 1em;
    border-bottom: 3px solid black;
}

.name,
.form,
.description,
.reldate,
.code:nth-child(n) {
    min-height: 60px;
    display: grid;
    padding: 1em;
    border-bottom: 1px solid black;
}