    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=Noto+Sans+KR:wght@400;500&display=swap');
    body {
        margin: 0;
        padding: 0;
        margin: 2em;
        font-family: 'IBM Plex Mono', -apple-system, 'Noto Sans KR', 'sans-serif';
        font-kerning: normal;
        font-weight: 400;
        font-size: 1em;
        line-height: 1.5em;
        word-spacing: -0.34em;
        color: #22B573;
        text-align: left;
        background-color: #222;
    }
    
    .nav {
        display: grid;
        grid-template-columns: 8em 1fr;
    }
    
    .hoi {
        padding-bottom: 2em;
        width: 5em;
        position: relative;
    }
    
    .about {
        padding-bottom: 2em;
        max-width: 400px;
        position: relative;
        color: #C2CAAA;
    }
    
    @media screen and (min-width: 1024px) {
        .content {
            display: grid;
            grid-auto-rows: minmax(1em, auto);
            grid-auto-columns: 1fr 2fr;
        }
        .item:nth-child(2n-1) {
            grid-column: 1;
            padding-top: 1em;
            padding-right: 2em;
            padding-bottom: 1em;
            border-bottom: 1px solid #C2CAAA;
        }
        .item:nth-child(2n) {
            padding-top: 1em;
            grid-column: 2;
            padding-bottom: 1em;
            border-bottom: 1px solid #C2CAAA;
        }
    }
    
    @media (max-width: 1023px) and (min-width: 0) {
        .content {
            display: grid;
            grid-auto-rows: minmax(1em, auto);
            grid-template-columns: 1fr;
        }
        .item:nth-child(2n-1) {
            padding-top: 1em;
            padding-bottom: 1em;
            grid-column: 1;
        }
        .item:nth-child(2n) {
            padding-top: 1em;
            padding-bottom: 1em;
            grid-column: 1;
            border-bottom: 1px solid #C2CAAA;
        }
    }
    
    .hoi img {
        width: 5em;
    }
    
    .item img {
        width: 100%;
    }
    
    a:visited {
        text-decoration: none;
        color: #22B573;
    }
    
    a:link {
        text-decoration: none;
        color: #22B573;
    }
    
    a:hover {
        text-decoration: none;
        color: #FFF;
        background: #C2CAAA;
        transition: all ease 0.3s;
    }
    
    a:active {
        text-decoration: none;
        color: #FFF;
        background: #C2CAAA;
        cursor: url("images/cursor.svg"), auto;
    }